body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.pngtree.com%2Ffreebackground%2Ffood-background_83391.html&psig=AOvVaw3xIVxkHnL_V4t_IgyqaEwB&ust=1643801265989000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNCIs4uz3vUCFQAAAAAdAAAAABAD);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 { 
    color: darkorange;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(145, 22, 197);
    padding: 50px;
    border: 5px dashed rgb(40, 233, 49);
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
div {
    margin-left: auto;
    margin-right: auto;
}


